@model Rubrical.Models.Rubric

@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>
<h5>@Model.Description</h5>
<style>
    .table td, .table th {
        min-width: 100px;
    }
</style>
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("AddRow", "Rubric", Model)'">Add Row</button>
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("AddColumn", "Rubric", Model)'">Add Column</button>

<table class="table table-hover table-bordered">
    @for (var i = 0; i < Model.Rows.Count; i++)
    {
        <tr class="table-primary">
            @for (var j = 0; j < Model.Rows[i].Cells.Count; j++)
            {
                <td>@Model.Rows[i].Cells[j].Text</td>
            }
        </tr>
    }
</table>
