@model Rubrical.Models.Rubric
@using Newtonsoft.Json

@{
    ViewData["Title"] = Model.Title;
}

@section scripts {
    <script>
        var modelData = @Html.Raw(JsonConvert.SerializeObject(Model));
    </script>
    <script src="~/js/rubric.js"></script>
}

<h1>@Model.Title</h1>
<h5>@Model.Description</h5>

<style>
    .table td, .table th {
        min-width: 100px;
    }

    #buttonAddRow, #buttonAddColumn, #buttonSaveChanges {
        display: none;
    }
</style>

@if (ViewBag.IsOwner == true)
{
    <button type="button" class="btn btn-warning" id="buttonEditContents"><i class="fa fa-pencil"></i> Edit</button>
    <hr />
    <button type="button" class="btn btn-primary edit-toggle" id="buttonAddRow"><i class="fa fa-plus"></i> Add Row</button>
    <button type="button" class="btn btn-primary edit-toggle" id="buttonAddColumn"><i class="fa fa-plus"></i> Add Column</button>
    <hr />
}

<table class="table table-hover table-bordered" id="rubric">
    @foreach (var row in Model.Rows.OrderBy(r => r.Id))
    {
        <tr class="table-primary" data-row-id="@row.Id">
            @foreach (var cell in row.Cells.OrderBy(c => c.Id))
            {
                <td data-cell-id="@cell.Id" name="cell">@cell.Text</td>
            }
        </tr>
    }
</table>
