@model Rubrical.Models.Rubric
@using Newtonsoft.Json

@{
    ViewData["Title"] = Model.Title;
}

@section scripts {
    <script>var modelData = @Html.Raw(JsonConvert.SerializeObject(Model));</script>
    <script>
        $(document).ready(function () {
            $("td").each(function (index, value) {
                $(this).html(decodeHtml($(this).text()))
            });
        });
        var isLoggedIn = @User.Identity.IsAuthenticated.ToString().ToLower();
    </script>
    <script src="https://unpkg.com/jspdf@1.5.3/dist/jspdf.min.js"></script>
    <script src="https://unpkg.com/jspdf-autotable@3.2.11/dist/jspdf.plugin.autotable.js"></script>
    <script src="~/js/rubric.js"></script>
}

<style>
    h1, h5 {
        text-align: center;
    }

    #upvoteDiv {
        position: fixed;
        top: 85px;
        right: 24px;
        height: 100%;
        z-index: 1;
        font-size: 20px;
    }

        #upvoteDiv, #upvoteDiv * {
            display: inline-block;
            vertical-align: middle;
        }

            #upvoteDiv p {
                margin: 10px;
            }

            #upvoteDiv a i {
                color: grey;
            }

    .table td, .table th {
        min-width: 100px;
    }

    #buttonAddRow, #buttonAddColumn, #buttonSaveChanges, #selectPrivacy, #buttonDelete {
        display: none;
    }

    #selectPrivacy {
        width: 100px;
    }

    .upvoted {
        color: green !important;
    }

    .downvoted {
        color: red !important;
    }

    .fa-thumbs-up:hover {
        color: rgb(26, 105, 38) !important;
    }

    .fa-thumbs-down:hover {
        color: rgb(105, 35, 26) !important;
    }

    #export {
        display: inline;
    }

    #buttonDelete {
        float: right;
    }
</style>

@if (ViewBag.IsOwner == false)
{
    <div id="upvoteDiv">
        <a href="#" name="vote" data-vote-type="up"><i class="fa fa-thumbs-up fa-2x @(ViewBag.Rating == 1 ? "upvoted" : "")"></i></a>
        <p>@Model.TotalRating</p>
        <a href="#" name="vote" data-vote-type="down"><i class="fa fa-thumbs-down fa-2x @(ViewBag.Rating == 0 ? "downvoted" : "")"></i></a>
    </div>
}
else
{
    <div id="upvoteDiv">
        <p>Rating: @Model.TotalRating</p>
    </div>
}
<br />
<h1>@Model.Title</h1>
<h5>@Model.Description</h5>

<table class="table table-hover table-bordered" id="rubric">
    @foreach (var row in Model.Rows.OrderBy(r => r.Id))
    {
        <tr class="table-primary" data-row-id="@row.Id">
            @foreach (var cell in row.Cells.OrderBy(c => c.Id))
            {
                <td data-cell-id="@cell.Id" name="cell">@cell.Text</td>
            }
        </tr>
    }
</table>

<div class="dropdown" id="export">
    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"><i class="fa fa-download"></i> Export</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#" id="excel">Excel</a>
        <a class="dropdown-item" href="#" id="pdf">PDF</a>
        <a class="dropdown-item" href="#" onclick="window.print()">Print</a>
    </div>
</div>

<button type="button" class="btn btn-warning" id="buttonCopy"><i class="fa fa-copy"></i> Copy</button>

@if (User.IsInRole("Admin"))
{
    <button type="button" class="btn btn-danger" id="buttonDelete" style="display: block;">Delete Rubric</button>
}

@if (ViewBag.IsOwner == true)
{
    <button type="button" class="btn btn-danger edit-toggle" id="buttonDelete">Delete Rubric</button>
    <button type="button" class="btn btn-warning" id="buttonEditContents"><i class="fa fa-pencil"></i> Edit</button>
    <hr />
    <button type="button" class="btn btn-primary edit-toggle" id="buttonAddRow"><i class="fa fa-plus"></i> Add Row</button>
    <button type="button" class="btn btn-primary edit-toggle" id="buttonAddColumn"><i class="fa fa-plus"></i> Add Column</button>
    <hr />
    <select class="custom-select edit-toggle" id="selectPrivacy">
        @if (Model.IsPrivate)
        {
            <option value="1" selected>Private</option>
            <option value="0">Public</option>
        }
        else
        {
            <option value="0" selected>Public</option>
            <option value="1">Private</option>
        }
    </select>
    <hr />

}

<div class="modal" id="myModal">
    <form id="modifyForm">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Copy Rubric</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="copyTitle">Enter a title:</label>
                        <input type="text" class="form-control" id="copyTitle" required>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Create Copy</button>
                </div>

            </div>
        </div>
    </form>
</div>



<div class="modal" id="mustBeLoggedIn">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                You must be logged in to use this feature.
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>